.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.terminado{
  position: absolute;
  right: 15px;
  color: #2cca27;
}

.proceso{
  position: absolute;
  right: 15px;
  color: #d11414;
}