<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mis gastos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Button fixed-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- Default Refresher -->
<ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

  <!--Items card-->
  <ion-card *ngFor="let item of lists" >
    <!--[routerLink]="['/list-details', 'item.id']"  -->
    <ion-card-header>
      <ion-card-title>
        <h3>{{item.name}}
          <span style="position: absolute; right: 0px; color: #2f8ce2">
            <ion-buttons (click)="hojaDeAcciones(item)">
              <!--*ngIf='item.status == 0'-->
              <span *ngFor='let element of priceList'>
                <span *ngIf='item.id == element.list_id' style="color:black">
                  $ {{element.price}}
                </span>
              </span>
              <ion-icon slot="icon-only" name="more" style="color:#111; cursor: pointer;"></ion-icon>
            </ion-buttons>
          </span>
        </h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.date}}
      <span *ngIf='item.status == 0' style="position: absolute;right: 15px; color:green"> En proceso.. </span>
      <span *ngIf='item.status == 1' style="position: absolute;right: 15px; color:red"> Terminado </span>
    </ion-card-content>
    <!--<div style="padding-left: 15px; padding-bottom: 10px;">-->
  </ion-card>


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


</ion-content>